<div class="contact-data-div">
    <h3>{{this.text.sideMenuContact}}{{this.text.colonSymbol}}</h3>
    <mat-list role="list" class="contact-list-div">
        <mat-list-item role="listitem">
            <span class="bolder-span">{{this.personal.nameLabel}}{{this.text.colonSymbol}}</span>
            <span>{{this.text.name}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="bolder-span">{{this.contact.mobileLabel}}{{this.text.colonSymbol}}</span>
            <span>{{this.contact.mob1}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="bolder-span">{{this.contact.alternateLabel}}{{this.text.colonSymbol}}</span>
            <span>{{this.contact.mob2}}</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="bolder-span">{{this.contact.mailLabel}}{{this.text.colonSymbol}}</span>
            <a href='https://mail.google.com/mail/u/0/#inbox?compose=new'>{{this.contact.mail}}</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span class="bolder-span">{{this.contact.linkedInLabel}}{{this.text.colonSymbol}}</span>
            <a href='https://www.linkedin.com/in/mohan-chidambaram-ab3bb4147'>www.linkedin.com/in/mohan-chidambaram</a>
        </mat-list-item>
    </mat-list>
</div>